.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 580px;
  height: 580px;
  background-color: #c6edff;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72.5px;
  height: 72.5px;
  border: 1.5px solid rgb(92 195 255);
}

.stone {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.candidate {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.turnandscore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 580px;
  font-size: 180%;
  background-color: rgb(92 195 255);
}
