.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: #c6edff;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid rgb(92 195 255);
}

.stone {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.candidate {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.scoreboard {
  left: 70%;
  width: 320px;
  height: 240px;
  background-color: #000;
}
